@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto') 
    url('/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Modern Browsers */
        
  }

  body{
    font-family: 'Roboto', sans-serif;
}

nav{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.navLeft{
    border: 1px solid blue;
}

.navRight{
    border: 1px solid green;
    
}


