@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto') 
    url('/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Modern Browsers */
        
  }
a:visited{
    color: inherit;
}
  body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

nav{
    display:flex;
    border: 1px solid red;
    justify-content: space-between;
    margin: 1.3em;
    
}

.navLeft{
   border: 1px solid blue;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 10em;
   font-size: 0.9rem;
  
}
.navRight{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    font-size: 0.9rem;
}

