/* General styles */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto') 
    url('/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Modern Browsers */
        
  }

  body{
     border: 1px solid green;
     height: 100vh;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    
}


/* Navigation bar styles */
.navBar{
    display:flex;
    border: 1px solid red;
    justify-content: space-between;
    margin: 1em 1.3em;
    font-size: 0.9rem;
    
}
.navBar a{
    color: black;
}


.navLeft{
   /* border: 1px solid blue; */
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 10em;
   /* font-size: 0.9rem; */
}

.navRight{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    /* font-size: 0.9rem; */
}

.navRight .signIn{
    padding: 0.5em 1em;
    color: white;
    background-color: #4287f5;
    font-weight: 700;
    border-radius: 5%;

}

/* Main content styles */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    row-gap: 2rem;
    border: 1px solid red;
    padding-top: 10rem;
}

.logo{
    border: 1px solid red;
    
}
.form{
    border: 1px solid red;
    
}
   .form .search{
    display: block;
    width: 30vw;
    }

/* Footer stylying */

.footer{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    margin-top: 0.1em;
}
.footer a{
    color: black;
}

.footerLeft{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25em;
}

.footerRight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15em;
}